<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="soccerfriend.mapper.ClubMapper">

    <insert id="insert" parameterType="soccerfriend.dto.Club">
        INSERT
        INTO club(name, leader, address_id, point, monthly_fee, created_at, updated_at)
        VALUES (#{name}, #{leader}, #{addressId}, #{point}, #{monthlyFee}, now(), now())
    </insert>

    <select id="getClubByName" resultType="soccerfriend.dto.Club">
        SELECT id, name, leader, address_id, point, monthly_fee, created_at, updated_at
        FROM club
        WHERE name = #{name}
    </select>

    <select id="isNameExist" resultType="boolean">
        SELECT EXISTS(SELECT * FROM club WHERE name = #{name})
    </select>

    <select id="isIdExist" resultType="boolean">
        SELECT EXISTS(SELECT * FROM club WHERE id = #{id})
    </select>

    <update id="updateName">
        UPDATE club
        SET name = #{name}, updated_at = now()
        WHERE id = #{id}
    </update>

    <update id="updateAddressId">
        UPDATE club
        SET address_id = #{addressId}, updated_at = now()
        WHERE id = #{id}
    </update>

    <update id="updateMonthlyFee">
        UPDATE club
        SET monthly_fee = #{monthlyFee}, updated_at = now()
        WHERE id = #{id}
    </update>
</mapper>