<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="soccerfriend.mapper.MemberMapper">

    <insert id="insert" parameterType="soccerfriend.dto.Member" useGeneratedKeys="true" keyProperty="id">
        INSERT
        INTO member(login_id, password, nickname, point)
        VALUES (#{loginId}, #{password}, #{nickname}, #{point})
    </insert>

    <delete id="delete" parameterType="String">
        DELETE
        FROM member
        WHERE login_id = #{loginId}
    </delete>

    <select id="isLoginIdExist" resultType="boolean">
        SELECT EXISTS (SELECT * FROM member WHERE login_id = #{loginId})
    </select>

    <select id="isNicknameExist" resultType="boolean">
        SELECT EXISTS (SELECT * FROM member WHERE nickname = #{nickname})
    </select>

    <select id="getMemberByLoginId" resultType="soccerfriend.dto.Member">
        SELECT id, login_id, password, nickname, point, created_at, updated_at
        FROM member
        WHERE login_id = #{loginId}
    </select>

    <update id="setSoccerInfo">
        UPDATE member
        SET soccer_info_id = #{soccerInfoId},
            updated_at=now()
        WHERE login_id = #{loginId}
    </update>

    <update id="updateNickname">
        UPDATE member
        SET nickname  = #{nickname},
            updated_at=now()
        WHERE login_id = #{loginId}
    </update>

    <update id="updatePassword">
        UPDATE member
        SET password  = #{password},
            updated_at=now()
        WHERE login_id = #{loginId}
    </update>

</mapper>