<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="soccerfriend.mapper.MemberMapper">

    <insert id="insert" parameterType="soccerfriend.dto.Member" useGeneratedKeys="true" keyProperty="id">
        INSERT
        INTO member(loginId, password, nickname, point)
        VALUES (#{loginId}, #{password}, #{nickname}, #{point})
    </insert>

    <delete id="delete" parameterType="String">
        DELETE
        FROM member
        WHERE loginId = #{loginId}
    </delete>

    <select id="isLoginIdExist" resultType="boolean">
        SELECT EXISTS (SELECT * FROM member WHERE loginId = #{loginId})
    </select>

    <select id="isNicknameExist" resultType="boolean">
        SELECT EXISTS (SELECT * FROM member WHERE nickname = #{nickname})
    </select>

    <select id="getMemberByLoginId" resultType="soccerfriend.dto.Member">
        SELECT id,
               loginId,
               password,
               nickname,
               point,
               soccerInfoId,
               createdAt,
               updatedAt
        FROM member
        WHERE loginId = #{loginId}
    </select>

    <update id="setSoccerInfo">
        UPDATE member
        SET soccerInfoId = #{soccerInfoId},
            updatedAt=now()
        WHERE loginId = #{loginId}
    </update>

    <update id="updateNickname">
        UPDATE member
        SET nickname = #{nickname}
        WHERE loginId = #{loginId}
    </update>

    <update id="updatePassword">
        UPDATE member
        SET password = #{password}
        WHERE loginId = #{loginId}
    </update>

</mapper>