<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="soccerfriend.mapper.MemberMapper">

    <insert id="insert" parameterType="soccerfriend.dto.Member">
        INSERT
        INTO member(member_id, password, email, nickname, point, positions_id, address_id, email_approved, deleted,
                    created_at, updated_at)
        VALUES (#{memberId}, #{password}, #{email}, #{nickname}, #{point}, #{positionsId}, #{addressId}, 0, 0, now(),
                now())
    </insert>

    <update id="delete">
        UPDATE member
        SET deleted    = 1,
            updated_at = now()
        WHERE id = #{id}
    </update>

    <delete id="deletePermanently">
        DELETE
        FROM member
        WHERE deleted = true
          AND id = #{id}
    </delete>

    <delete id="deletePermanentlyDaysBefore">
        DELETE
        FROM member
        WHERE deleted = true
          AND DATE_DIFF(updated_at, now()) > #{days}
    </delete>

    <select id="isMemberIdExist" resultType="boolean">
        SELECT EXISTS (SELECT * FROM member WHERE member_id = #{memberId} AND deleted = 0)
    </select>

    <select id="isNicknameExist" resultType="boolean">
        SELECT EXISTS (SELECT * FROM member WHERE nickname = #{nickname} AND deleted = 0)
    </select>

    <select id="getMemberByMemberId" resultType="soccerfriend.dto.Member">
        SELECT id,
               member_id,
               password,
               email,
               nickname,
               point,
               positions_id,
               address_id,
        FROM member
        WHERE member_id = #{memberId}
          AND deleted = 0
    </select>

    <select id="getMemberById" resultType="soccerfriend.dto.Member">
        SELECT id,
               member_id,
               password,
               email,
               nickname,
               point,
               positions_id,
               address_id,
        FROM member
        WHERE id = #{id}
          AND deleted = 0
    </select>

    <update id="updateNickname">
        UPDATE member
        SET nickname  = #{nickname},
            updated_at=now()
        WHERE id = #{id}
          AND deleted = 0
    </update>

    <update id="updatePassword">
        UPDATE member
        SET password  = #{password},
            updated_at=now()
        WHERE id = #{id}
          AND deleted = 0
    </update>

    <update id="addPoint">
        UPDATE member
        SET point     = point + #{point},
            updated_at=now()
        WHERE id = #{id}
    </update>

    <update id="increasePoint">
        UPDATE member
        SET point     = point + #{point},
            updated_at=now()
        WHERE id = #{id}
          AND deleted = 0
    </update>

    <update id="decreasePoint">
        UPDATE member
        SET point     = point - #{point},
            updated_at=now()
        WHERE id = #{id}
          AND deleted = 0
    </update>
</mapper>