<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="soccerfriend.mapper.PostMapper">

    <insert id="insert" parameterType="soccerfriend.dto.Post">
        INSERT
        INTO post(bulletin_id, writer, title, content, views, deleted, created_at, updated_at)
        VALUES (#{bulletinId}, #{writer}, #{title}, #{content}, #{views}, 0, now(), now())
    </insert>

    <select id="getPostById" resultType="soccerfriend.dto.Post">
        SELECT id,
               bulletin_id,
               writer,
               title,
               content,
               views,
               created_at,
               updated_at
        FROM post
        WHERE id = #{id}
          AND deleted = 0
    </select>

    <select id="getPostByBulletinId" resultType="soccerfriend.dto.Post">
        SELECT id,
               bulletin_id,
               writer,
               title,
               content,
               views,
               created_at,
               updated_at
        FROM post
        WHERE bulletin_id = #{bulletinId}
          AND deleted = 0
    </select>

    <select id="getPostByBulletinPage" resultType="soccerfriend.dto.Post">
        SELECT id,
               bulletin_id,
               writer,
               title,
               content,
               views,
               created_at,
               updated_at
        FROM post
        WHERE bulletin_id = #{bulletinId}
          AND deleted = 0
        ORDER BY id asc
        LIMIT #{start}, 10
    </select>

    <select id="getPostCountFromBulletin" resultType="int">
        SELECT COUNT(*)
        FROM post
        WHERE bulletin_id = #{bulletinId}
          AND deleted = 0
    </select>

    <update id="increaseViews">
        UPDATE post
        SET views = views + 1
        WHERE id = #{id}
          AND deleted = 0
    </update>
</mapper>