<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="soccerfriend.mapper.SoccerInfoMapper">

    <insert id="insert" parameterType="soccerfriend.dto.Member" useGeneratedKeys="true" keyProperty="id">
        INSERT
        INTO soccerInfo(positionsId, addressId)
        VALUES (#{positionsId}, #{addressId})
    </insert>

</mapper>