<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="soccerfriend.mapper.SoccerMatchMapper">

    <insert id="insert" parameterType="soccerfriend.dto.SoccerMatch">
        INSERT
        INTO soccer_match(club1_score, club2_score, soccer_match_recruitment_id, submitted, created_at, updated_at)
        VALUES (0, 0, #{soccerMatchRecruitmentId}, 0, now(), now())
    </insert>

    <select id="getSoccerMatchById" resultType="soccerfriend.dto.SoccerMatch">
        SELECT id, club1_score, club2_score, soccer_match_recruitment_id, created_at, updated_at
        FROM soccer_match
        WHERE id = #{id}
    </select>

    <select id="getSoccerMatchBySoccerMatchRecruitmentId" resultType="soccerfriend.dto.SoccerMatch">
        SELECT id, club1_score, club2_score, soccer_match_recruitment_id, created_at, updated_at
        FROM soccer_match
        WHERE soccer_match_recruitment_id = #{soccerMatchRecruitmentId}
    </select>

    <select id="getSoccerMatchByClubId" resultType="soccerfriend.dto.SoccerMatch">
        SELECT a.id, a.club1_score, a.club2_score, a.soccer_match_recruitment_id, a.created_at, a.updated_at
        FROM soccer_match a
                 INNER JOIN soccer_match_recruitment b
                            ON a.soccer_match_recruitment_id = b.id
        WHERE (b.club2_id is not null)
          AND (b.club1_id = #{clubId} OR b.club2_id = #{clubId})
    </select>

    <update id="increaseClub1Score">
        UPDATE soccer_match
        SET club1_score = club1_score + 1,
            updated_at  = now()
        WHERE id = #{id}
    </update>

    <update id="increaseClub2Score">
        UPDATE soccer_match
        SET club2_score = club2_score + 1,
            updated_at  = now()
        WHERE id = #{id}
    </update>

    <select id="getClub1Id" resultType="int">
        SELECT b.club1_id
        FROM soccer_match a
                 INNER JOIN soccer_match_recruitment b
                            ON a.soccer_match_recruitment_id = b.id
        WHERE a.id = #{id}
    </select>

    <select id="getClub2Id" resultType="int">
        SELECT b.club2_id
        FROM soccer_match a
                 INNER JOIN soccer_match_recruitment b
                            ON a.soccer_match_recruitment_id = b.id
        WHERE a.id = #{id}
    </select>

    <select id="isClubExist" resultType="boolean">
        SELECT EXISTS(
                       SELECT *
                       FROM soccer_match a
                                INNER JOIN soccer_match_recruitment b
                                           ON a.soccer_match_recruitment_id = b.id
                       WHERE a.id = #{id}
                         AND (b.club1_id = #{clubId} OR b.club2_id = #{clubId})
                   )
    </select>

    <select id="getClub1Score" resultType="int">
        SELECT club1_score
        FROM soccer_match
        WHERE id = #{id}
    </select>

    <select id="getClub2Score" resultType="int">
        SELECT club2_score
        FROM soccer_match
        WHERE id = #{id}
    </select>

    <update id="setSubmittedTrue">
        UPDATE soccer_match
        SET submitted = true
        WHERE id = #{id}
    </update>

    <select id="isSubmitted" resultType="boolean">
        SELECT EXISTS(
                       SELECT * FROM soccer_match WHERE id = #{id} AND submitted = true
                   )
    </select>
</mapper>