<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="soccerfriend.mapper.StadiumOwnerMapper">

    <insert id="insert" parameterType="soccerfriend.dto.StadiumOwner" useGeneratedKeys="true" keyProperty="id">
        INSERT
        INTO stadium_owner(stadium_owner_id, password, representative, company_name, address, taxpayer_id, account_bank_id, account_number, point)
        VALUES (#{stadiumOwnerId}, #{password}, #{representative}, #{companyName}, #{address}, #{taxpayerId}, #{accountBankId}, #{accountNumber}, #{point})
    </insert>

    <select id="isStadiumOwnerIdExist" resultType="boolean">
        SELECT EXISTS (SELECT * FROM stadium_owner WHERE stadium_owner_id = #{stadiumOwnerId})
    </select>

    <select id="getStadiumOwner" resultType="soccerfriend.dto.StadiumOwner">
        SELECT id, stadium_owner_id, password, representative, company_name, address, taxpayer_id, account_bank_id, account_number, point, created_at, updated_at
        FROM stadium_owner
        WHERE stadium_owner_id = #{stadiumOwnerId}
    </select>

</mapper>